# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.bak

# Virtual environments
venv/
.env/

# Build artifacts
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/

# Docker
*.tar
docker-build/
